body {
  font-family: monospace;
  text-align: center;
}

.form-group {
  margin: 20px 0;
}

.check {
  margin-left: 4px;
}

.underline {
  border-bottom: 2px solid black;
  width: 70%;
  margin: 10px auto;
}

#displayOrder {
  margin-top: 20px;
}
