body {
  font-family: monospace;
  text-align: center;
}

h2 {
  color: #f7b705;
}

em {
  color: #f7b705;
}

ul {
  list-style: none;
}
.form-group {
  margin: 20px 0;
}

.check {
  margin-left: 4px;
}

.underline {
  border-bottom: 2px solid #f7b705;
  width: 70%;
  margin: 10px auto;
}

#displayOrder {
  margin-top: 60px;
}

#order {
  margin-left: 20px;
}

#confirmation ul {
  list-style: none;
  font-size: 24px;
}

#confirmation .total {
  font-size: 32px;
}

#confirmation .well {
  margin-top: 50px;
}

#confirmation p {
  font-size: 18px;
}
.thin {
  display: none;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 20px auto 0  auto;
}

#paymentInfo, #checkoutButton, .secondAddress, #next, #confirmation {
  display: none;
}

.what {
  font-size: 12px;
}

.explain {
  display: none;
  width: 100px;
  position: absolute;
  margin-top: -124px;
}

.explain::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #e3e3e3 transparent transparent transparent;
}

.what>p:hover {
  cursor: pointer;
  text-decoration: underline;
}
