body {
  font-family: monospace;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

h1, h2, h3 {
  color: #f7b705;
}

em {
  color: #f7b705;
}

ul {
  list-style: none;
}

.headline{
  font-weight: 300;
  font-size: 30px;
  border-bottom: 3px black solid;
  border-top: 3px black solid;
  color: #000;
  line-height: 1.42;
}

header {
  margin-bottom: 50px;
}

.shadow {
  box-shadow: 5px 4px 4px rgba(0,0,0,.6);
}
.intro {
  text-align: justify;
  margin-bottom: 100px;
}
.intro p {
  font-size: 20px;
  margin-bottom: 30px;
}

.form-group {
  margin: 20px 0;
}

.check {
  margin-left: 4px;
}

.underline {
  border-bottom: 1px solid black;
  width: 70%;
  margin: 10px auto;
}

#orderForm {
  margin-top: 80px;
}

#displayOrder {
  margin-top: 80px;
}

#confirmation ul {
  list-style: none;
  font-size: 24px;
}

#confirmation .total {
  font-size: 32px;
}

#confirmation .well {
  margin-top: 50px;
}

#confirmation p {
  font-size: 18px;
}
.thin {
  display: none;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 20px auto 0  auto;
}

#paymentInfo, #checkoutButton, .secondAddress, #next, #confirmation {
  display: none;
}

.what {
  font-size: 12px;
}

.step {
  background: #f7b705;
  color: #fff;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: relative;
  left:-5px;
}

.explain {
  display: none;
  width: 100px;
  position: absolute;
  margin-top: -124px;
}

.explain::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #e3e3e3 transparent transparent transparent;
}

.what>p:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  margin-top: 50px;
}
